## Готовим данные для модели стратегического прогноза

In [2]:
%pylab inline
%matplotlib inline

import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import MySQLdb

from datetime import timedelta
import datetime

import glob

Populating the interactive namespace from numpy and matplotlib

**Загрузка данных из базы**

In [3]:
# %%time
# db_connection = MySQLdb.connect(host="194.247.15.117", 
#                      port=7806,
#                      user="bar",
#                      passwd="PASSWORD",
#                      db="Inventory")

# data = pd.read_sql('SELECT * FROM Inventory.vDynamicForecast', con=db_connection)
# db_connection.close()

# print(len(data))

11657228
Wall time: 2h 10min 5s

**Загрузка данных с локального хранилища**

In [4]:
# data.to_csv('../data/op_data.csv', sep=';')

In [64]:
data = pd.read_csv('../data/data.csv', sep=';')
data.drop('Unnamed: 0', inplace=True, axis = 1)

**Смотрим на данные**

In [5]:
data

,FlightID,Code,seatsAvail,authLevel,resHoldTotal,reportDt,orig,dest,DptDt,Carrier,fltNr,opsSuffix,fltNrDptDt,fltNrArrDt,DptTime,ArrTime
0,1,B,2,76.0,0.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
1,1,Y,4,76.0,0.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
2,1,X,10,364.0,3.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
3,1,K,1,62.0,0.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
4,1,B,2,76.0,1.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
5,1,Y,4,76.0,0.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
6,1,X,5,364.0,11.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
7,1,K,0,62.0,5.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
8,1,B,0,74.0,4.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
9,1,Y,2,74.0,2.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
10,1,X,1,364.0,5.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
11,1,K,0,62.0,20.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
12,1,B,0,74.0,1.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
13,1,Y,2,74.0,2.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
14,1,X,1,364.0,15.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
15,1,K,0,62.0,1.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
16,1,B,0,74.0,0.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
17,1,Y,2,74.0,9.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
18,1,X,1,364.0,22.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
19,1,K,0,62.0,5.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
20,1,B,0,74.0,21.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
21,1,Y,2,74.0,26.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
22,1,X,1,364.0,78.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
23,1,K,0,62.0,16.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
24,1,B,0,74.0,2.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
25,1,Y,1,74.0,3.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
26,1,X,1,364.0,4.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
27,1,K,0,62.0,0.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
28,1,B,0,74.0,9.0,2016-05-28,LEDGL,IVANV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,10
29,1,Y,1,74.0,9.0,2016-05-28,LEDGL,IVANV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11657198,277169,B,122,129.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,0,7
11657199,277169,Y,122,129.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,0,7
11657200,277169,F,12,12.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657201,277169,C,88,90.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657202,277169,B,122,129.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657203,277169,Y,122,129.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657204,277170,F,12,12.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657205,277170,C,70,72.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657206,277170,B,139,147.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657207,277170,Y,139,147.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657208,277170,F,12,12.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657209,277170,C,70,72.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657210,277170,B,139,147.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657211,277170,Y,139,147.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657212,277170,F,12,12.0,0.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657213,277170,C,70,72.0,0.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657214,277170,B,139,147.0,1.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657215,277170,Y,139,147.0,1.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657216,277170,F,12,12.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657217,277170,C,70,72.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657218,277170,B,139,147.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657219,277170,Y,139,147.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657220,277170,F,12,12.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657221,277170,C,70,72.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657222,277170,B,139,147.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657223,277170,Y,139,147.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657224,277170,F,12,12.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7
11657225,277170,C,70,72.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7
11657226,277170,B,139,147.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7
11657227,277170,Y,139,147.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11657228 entries, 0 to 11657227
Data columns (total 16 columns):
FlightID        int64
Code            object
seatsAvail      int64
authLevel       float64
resHoldTotal    float64
reportDt        object
orig            object
dest            object
DptDt           object
Carrier         object
fltNr           int64
opsSuffix       object
fltNrDptDt      object
fltNrArrDt      object
DptTime         int64
ArrTime         int64
dtypes: float64(2), int64(5), object(9)
memory usage: 1.4+ GB

**Предобработка данных**

In [7]:
# номер недели
def week_of_month(dt):
    first_day = dt.replace(day=1)
    dom = dt.day
    adjusted_dom = dom + first_day.weekday()
    return int(ceil(adjusted_dom/7.0))

In [11]:
data

,FlightID,Code,seatsAvail,authLevel,resHoldTotal,reportDt,orig,dest,DptDt,Carrier,fltNr,opsSuffix,fltNrDptDt,fltNrArrDt,DptTime,ArrTime
0,1,B,2,76.0,0.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
1,1,Y,4,76.0,0.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
2,1,X,10,364.0,3.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
3,1,K,1,62.0,0.0,2016-05-28,LEDGL,MVISH,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,19
4,1,B,2,76.0,1.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
5,1,Y,4,76.0,0.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
6,1,X,5,364.0,11.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
7,1,K,0,62.0,5.0,2016-05-28,LEDGL,BOLOG,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,22
8,1,B,0,74.0,4.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
9,1,Y,2,74.0,2.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
10,1,X,1,364.0,5.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
11,1,K,0,62.0,20.0,2016-05-28,LEDGL,MAKSA,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,1
12,1,B,0,74.0,1.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
13,1,Y,2,74.0,2.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
14,1,X,1,364.0,15.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
15,1,K,0,62.0,1.0,2016-05-28,LEDGL,SONKV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,2
16,1,B,0,74.0,0.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
17,1,Y,2,74.0,9.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
18,1,X,1,364.0,22.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
19,1,K,0,62.0,5.0,2016-05-28,LEDGL,RYBP,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,4
20,1,B,0,74.0,21.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
21,1,Y,2,74.0,26.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
22,1,X,1,364.0,78.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
23,1,K,0,62.0,16.0,2016-05-28,LEDGL,IARGL,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,6
24,1,B,0,74.0,2.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
25,1,Y,1,74.0,3.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
26,1,X,1,364.0,4.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
27,1,K,0,62.0,0.0,2016-05-28,LEDGL,NEREK,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,8
28,1,B,0,74.0,9.0,2016-05-28,LEDGL,IVANV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,10
29,1,Y,1,74.0,9.0,2016-05-28,LEDGL,IVANV,2016-05-26,FPC,337,ZH,2016-05-26,2016-05-28,16,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11657198,277169,B,122,129.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,0,7
11657199,277169,Y,122,129.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,0,7
11657200,277169,F,12,12.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657201,277169,C,88,90.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657202,277169,B,122,129.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657203,277169,Y,122,129.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-14,FPC,9,J,2014-10-13,2014-10-14,4,7
11657204,277170,F,12,12.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657205,277170,C,70,72.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657206,277170,B,139,147.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657207,277170,Y,139,147.0,0.0,2014-08-31,KUF,RUZVK,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,0
11657208,277170,F,12,12.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657209,277170,C,70,72.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657210,277170,B,139,147.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657211,277170,Y,139,147.0,0.0,2014-08-31,KUF,RZN1,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,4
11657212,277170,F,12,12.0,0.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657213,277170,C,70,72.0,0.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657214,277170,B,139,147.0,1.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657215,277170,Y,139,147.0,1.0,2014-08-31,KUF,MOWKZ,2014-10-14,FPC,9,J,2014-10-14,2014-10-15,18,7
11657216,277170,F,12,12.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657217,277170,C,70,72.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657218,277170,B,139,147.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657219,277170,Y,139,147.0,0.0,2014-08-31,RUZVK,RZN1,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,4
11657220,277170,F,12,12.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657221,277170,C,70,72.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657222,277170,B,139,147.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657223,277170,Y,139,147.0,0.0,2014-08-31,RUZVK,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,0,7
11657224,277170,F,12,12.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7
11657225,277170,C,70,72.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7
11657226,277170,B,139,147.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7
11657227,277170,Y,139,147.0,0.0,2014-08-31,RZN1,MOWKZ,2014-10-15,FPC,9,J,2014-10-14,2014-10-15,4,7

In [ ]:
data['flightNrSf'] = data.fltNr.astype('str') + data.opsSuffix
data.drop('fltNr', axis = 1, inplace = True)
data.drop('opsSuffix', axis = 1, inplace = True)

In [10]:
df = data.groupby(['fltNrDptDt', 'flightNrSf', 'reportDt'])['resHoldTotal'].sum()
df

KeyError: 'flightNrSf'

In [59]:
def prepareData(data):
    # drop stuff
    data.drop('seatsAvail', axis = 1, inplace = True)
    data.drop('authLevel', axis = 1, inplace = True)
    data.drop('Carrier', axis = 1, inplace = True)
    
    # encode reportDt
    
    # make flight id 
    data['flightNrSf'] = [str(data.fltNr.values[x]) + data.opsSuffix.values[x] for x in range(0, len(data.fltNr.values))]
    data.drop('fltNr', axis = 1, inplace = True)
    data.drop('opsSuffix', axis = 1, inplace = True)
    print("Made flight id")
    
    # словари для кодирования позедов, сегментов и классов вагонов
    segment_dict = dict(enumerate(set(np.append(data.orig.unique(), data.dest.unique()))))
    print('segment_dict: ' + str(segment_dict))
    flightNrSf_dict = dict(enumerate(data.flightNrSf.unique()))
    print('flightNrSf_dict: ' + str(flightNrSf_dict))
    code_dict = dict(enumerate(data.Code.unique()))
    print('code_dict: ' + str(code_dict))
    
    # кодируем сегмент
    data.orig = data.orig.map(lambda x: list(segment_dict.keys())[list(segment_dict.values()).index(x)])
    data.dest = data.dest.map(lambda x: list(segment_dict.keys())[list(segment_dict.values()).index(x)])
    
    # кодируем поезда
    data.flightNrSf = data.flightNrSf.map(lambda x: list(flightNrSf_dict.keys())[list(flightNrSf_dict.values()).index(x)])
    
    # кодируем вагоны
    data.Code = data.Code.map(lambda x: list(code_dict.keys())[list(code_dict.values()).index(x)])
    
    # make segment
    data['segment'] = data.orig.astype('str') + '_' + data.dest.astype('str')
    data.drop('orig', axis = 1, inplace = True)
    data.drop('dest', axis = 1, inplace = True)
    print("Made segment")
    
    # словарь для повторного кодирования сегментов
    segment_sec_dict = dict(enumerate(data.segment.unique()))
    print('segment_sec_dict: ' + str(segment_sec_dict))
    
    # повторно кодируем сегмент
    data.segment = data.segment.map(lambda x: list(segment_sec_dict.keys())[list(segment_sec_dict.values()).index(x)])
    print("Done with encoding")
    
    # кодируем дату
    data.DptDt = pd.DatetimeIndex(data.DptDt)
    data.fltNrDptDt = pd.DatetimeIndex(data.fltNrDptDt)
    data.fltNrArrDt = pd.DatetimeIndex(data.fltNrArrDt)
    data['DayOfWeekDpt'] = pd.DatetimeIndex(data['DptDt']).dayofweek 
    data['WeekOfMonthDpt'] = [week_of_month(x) for x in pd.DatetimeIndex(data['DptDt'])]
    data['MonthDpt'] = pd.DatetimeIndex(data['DptDt']).month 
    data['QuarterDpt'] = pd.DatetimeIndex(data['DptDt']).quarter 
    data['YearDpt'] = pd.DatetimeIndex(data['DptDt']).year
    data['IsWeekendDpt'] = data['DayOfWeekDpt'].isin([5,6])*1
    data['DayOfWeekArr'] = pd.DatetimeIndex(data['fltNrArrDt']).dayofweek 
    data['WeekOfMonthArr'] = [week_of_month(x) for x in pd.DatetimeIndex(data['DptDt'])]
    data['MonthArr'] = pd.DatetimeIndex(data['DptDt']).month 
    data['QuarterArr'] = pd.DatetimeIndex(data['DptDt']).quarter 
    data['YearArr'] = pd.DatetimeIndex(data['DptDt']).year
    data['IsWeekendArr'] = data['DayOfWeekArr'].isin([5,6])*1
    print("Dates complete")
    
    data.sort_values(['FlightID', 'DptDt'], inplace=True)
    data.reset_index(inplace=True)
    data.drop('index', axis = 1, inplace = True)
    
    # праздники
#     data['Holiday'] = 0
#     holidayUniqueCount = 0
#     holidayDays = ('2017-03-08 00:00:00', '2017-02-23 00:00:00', '2017-02-14 00:00:00', '2017-01-07 00:00:00', '2017-06-12 00:00:00', '2017-01-01 00:00:00', '2017-05-09 00:00:00',
#                    '2016-03-08 00:00:00', '2016-02-23 00:00:00', '2016-02-14 00:00:00', '2016-01-07 00:00:00', '2016-06-12 00:00:00', '2016-01-01 00:00:00', '2016-05-09 00:00:00',
#                    '2015-03-08 00:00:00', '2015-02-23 00:00:00', '2015-02-14 00:00:00', '2015-01-07 00:00:00', '2015-06-12 00:00:00', '2015-01-01 00:00:00', '2015-05-09 00:00:00',
#                    '2014-03-08 00:00:00', '2014-02-23 00:00:00', '2014-02-14 00:00:00', '2014-01-07 00:00:00', '2014-06-12 00:00:00', '2014-01-01 00:00:00', '2014-05-09 00:00:00')
    
#     for holidayIndex in holidayDays:
#         daysIncr = np.arange(-3, 4)
        
#         hs = holidayUniqueCount * 5
#         holidayCode = np.append(np.arange(1 + hs, 5 + hs), np.arange(1 + hs, 4 + hs)[::-1])
        
#         for i, dayIncr in enumerate(daysIncr):
#             holiday = pd.DatetimeIndex([holidayIndex])[0] + datetime.timedelta(days = int(dayIncr))
#             data.loc[data[data.DptDt == holiday].index.values, 'Holiday'] = holidayCode[i]
            
#         holidayUniqueCount += 1
#         if holidayUniqueCount == 7:
#             holidayUniqueCount = 0
#     print("Done with holidays")

    return data

In [73]:
%%time
data = prepareData(data)

Made flight id
segment_dict: {0: 'ZUBVP', 1: 'NOVKU', 2: 'MUROM', 3: 'SHILV', 4: 'MAKSA', 5: 'IARGL', 6: 'RZN1', 7: 'GFBMH', 8: 'NAVAS', 9: 'BEZNC', 10: 'POTMA', 11: 'VEKVK', 12: 'UZHOV', 13: 'NEREK', 14: 'SONKV', 15: 'YTNPR', 16: 'BARYS', 17: 'ARZM1', 18: 'RYBP', 19: 'SASOV', 20: 'NEKOZ', 21: 'KOVYL', 22: 'OBSHA', 23: 'KUZOV', 24: 'MOWKZ', 25: 'SYZR1', 26: 'BEZHK', 27: 'BOLOG', 28: 'OKUL', 29: 'URMAR', 30: 'SKX', 31: 'GOJ', 32: 'MVISH', 33: 'CHAPV', 34: 'SHSTH', 35: 'KOVRV', 36: 'KZNP', 37: 'KANAS', 38: 'LEDGL', 39: 'ZELDO', 40: 'VOLGA', 41: 'IVANV', 42: 'KUF', 43: 'RUZVK', 44: 'INZA'}
flightNrSf_dict: {0: '10J', 1: '50M', 2: '9J', 3: '49J', 4: '337J', 5: '337ZH'}
code_dict: {0: 'F', 1: 'C', 2: 'B', 3: 'Y', 4: 'X', 5: 'K'}
Made segment
segment_sec_dict: {0: '24_6', 1: '24_43', 2: '24_25', 3: '24_42', 4: '6_43', 5: '6_25', 6: '6_42', 7: '43_25', 8: '43_42', 9: '25_42', 10: '24_19', 11: '24_0', 12: '24_21', 13: '24_44', 14: '24_16', 15: '24_33', 16: '6_19', 17: '6_0', 18: '6_21', 19: '6_44', 20: '6_16', 21: '6_33', 22: '19_0', 23: '19_21', 24: '19_43', 25: '19_44', 26: '19_16', 27: '19_25', 28: '19_33', 29: '19_42', 30: '0_21', 31: '0_43', 32: '0_44', 33: '0_16', 34: '0_25', 35: '0_33', 36: '0_42', 37: '42_43', 38: '42_6', 39: '42_24', 40: '43_6', 41: '43_24', 42: '6_24', 43: '42_23', 44: '42_21', 45: '42_0', 46: '42_19', 47: '23_43', 48: '23_21', 49: '23_0', 50: '23_19', 51: '23_6', 52: '23_24', 53: '43_21', 54: '43_0', 55: '43_19', 56: '21_0', 57: '21_19', 58: '21_6', 59: '21_24', 60: '0_19', 61: '0_6', 62: '0_24', 63: '19_6', 64: '19_24', 65: '42_25', 66: '42_44', 67: '42_30', 68: '42_12', 69: '42_17', 70: '42_31', 71: '42_35', 72: '42_41', 73: '42_13', 74: '42_5', 75: '42_18', 76: '42_14', 77: '42_4', 78: '42_27', 79: '42_28', 80: '42_32', 81: '42_38', 82: '25_44', 83: '25_43', 84: '25_30', 85: '25_12', 86: '25_17', 87: '25_31', 88: '25_35', 89: '25_41', 90: '25_13', 91: '25_5', 92: '25_18', 93: '25_14', 94: '25_4', 95: '25_27', 96: '25_28', 97: '25_32', 98: '25_38', 99: '44_43', 100: '44_30', 101: '44_12', 102: '38_32', 103: '38_27', 104: '38_4', 105: '38_14', 106: '38_18', 107: '38_5', 108: '38_13', 109: '38_41', 110: '38_35', 111: '38_31', 112: '38_17', 113: '38_12', 114: '38_30', 115: '38_43', 116: '38_44', 117: '38_23', 118: '38_25', 119: '38_42', 120: '32_27', 121: '32_4', 122: '32_14', 123: '32_18', 124: '32_5', 125: '32_13', 126: '32_41', 127: '32_35', 128: '32_31', 129: '21_43', 130: '21_44', 131: '21_16', 132: '21_25', 133: '21_33', 134: '21_42', 135: '43_44', 136: '43_16', 137: '43_33', 138: '44_16', 139: '44_25', 140: '44_33', 141: '44_42', 142: '16_25', 143: '16_33', 144: '16_42', 145: '25_33', 146: '33_42', 147: '32_17', 148: '32_12', 149: '32_30', 150: '32_43', 151: '32_44', 152: '32_23', 153: '32_25', 154: '32_42', 155: '27_4', 156: '27_14', 157: '27_18', 158: '27_5', 159: '38_15', 160: '27_15', 161: '27_41', 162: '27_35', 163: '27_31', 164: '27_17', 165: '27_30', 166: '27_43', 167: '27_44', 168: '27_25', 169: '27_42', 170: '18_5', 171: '43_30', 172: '43_17', 173: '43_31', 174: '43_35', 175: '43_41', 176: '43_13', 177: '43_5', 178: '43_18', 179: '43_27', 180: '43_28', 181: '43_32', 182: '43_38', 183: '30_17', 184: '30_31', 185: '30_35', 186: '30_41', 187: '30_13', 188: '30_5', 189: '18_41', 190: '18_35', 191: '18_31', 192: '18_17', 193: '18_30', 194: '18_43', 195: '18_44', 196: '18_25', 197: '18_42', 198: '5_41', 199: '5_35', 200: '5_31', 201: '5_17', 202: '5_30', 203: '5_43', 204: '5_44', 205: '44_17', 206: '44_31', 207: '44_35', 208: '44_41', 209: '44_5', 210: '5_25', 211: '5_42', 212: '41_35', 213: '41_31', 214: '41_17', 215: '41_30', 216: '41_43', 217: '41_44', 218: '44_18', 219: '44_27', 220: '44_28', 221: '44_38', 222: '18_15', 223: '44_21', 224: '44_0', 225: '44_19', 226: '44_6', 227: '44_24', 228: '27_13', 229: '18_13', 230: '5_15', 231: '41_25', 232: '41_42', 233: '35_31', 234: '35_17', 235: '35_30', 236: '27_12', 237: '27_23', 238: '4_14', 239: '4_18', 240: '4_5', 241: '4_13', 242: '4_41', 243: '4_35', 244: '24_7', 245: '24_22', 246: '6_7', 247: '6_22', 248: '19_7', 249: '19_22', 250: '43_7', 251: '43_22', 252: '7_25', 253: '7_22', 254: '7_42', 255: '25_22', 256: '22_42', 257: '42_10', 258: '23_10', 259: '43_10', 260: '21_10', 261: '10_19', 262: '10_6', 263: '10_24', 264: '24_3', 265: '6_3', 266: '3_0', 267: '3_21', 268: '3_43', 269: '3_44', 270: '3_25', 271: '3_33', 272: '3_42', 273: '42_7', 274: '42_3', 275: '25_7', 276: '25_21', 277: '25_3', 278: '25_6', 279: '25_24', 280: '7_43', 281: '7_21', 282: '7_3', 283: '7_6', 284: '7_24', 285: '43_3', 286: '21_3', 287: '3_6', 288: '3_24', 289: '24_11', 290: '24_37', 291: '24_39', 292: '24_36', 293: '11_37', 294: '11_39', 295: '11_36', 296: '37_39', 297: '37_36', 298: '39_36', 299: '42_1', 300: '42_33', 301: '42_9', 302: '38_28', 303: '38_26', 304: '38_20', 305: '38_34', 306: '38_40', 307: '24_2', 308: '24_8', 309: '24_29', 310: '11_2', 311: '11_8', 312: '11_29', 313: '2_8', 314: '2_37', 315: '2_29', 316: '2_39', 317: '2_36', 318: '8_37', 319: '8_29', 320: '8_39', 321: '8_36', 322: '37_29', 323: '29_39', 324: '29_36'}
Done with encoding
Dates complete

In [74]:
data.sort_values(['FlightID', 'DptDt'], inplace = True)

In [80]:
lag = datetime.timedelta(days = 365)
data['LagDptDt'] = data['fltNrDptDt'] - lag

In [76]:
lags = (1, 4, 12, 52, 3 * 52)

**Лаги по дням**

In [81]:
%%time

df = data.groupby(['fltNrDptDt', 'LagDptDt'], as_index=False)['resHoldTotal'].sum().sort_values(['fltNrDptDt'])
for lag in lags:
    df['lag_' + str(lag)] = df.LagDptDt.map(lambda x: df[(df.fltNrDptDt <= x) & (df.fltNrDptDt >= (x - timedelta(days = 7 * lag)))].resHoldTotal.mean())
    print(str(lag) + ' = lag complete')

1 = lag complete
4 = lag complete
12 = lag complete
52 = lag complete
156 = lag complete
Wall time: 1min 21s

In [84]:
data = data.merge(df.drop('LagDptDt', axis = 1).drop('resHoldTotal', axis = 1), on='fltNrDptDt')

**Лаги по поездам**

In [86]:
%%time

df = data.groupby(['fltNrDptDt', 'flightNrSf', 'LagDptDt'], as_index=False)['resHoldTotal'].sum().sort_values(['fltNrDptDt'])
for flt in df.flightNrSf.unique():
    for lag in lags:
        df.loc[df[df.flightNrSf == flt].index.values, 'lag_' + str(lag) + '_flt_' + str(flt)] = df[df.flightNrSf == flt].LagDptDt.map(lambda x: df[df.flightNrSf == flt][(df.fltNrDptDt <= x) & (df.fltNrDptDt >= (x - timedelta(days = 7 * lag)))].resHoldTotal.mean())
        print(str(lag) + ' = lag complete, ' + str(flt) + ' = flt')
    
    print(str(flt) + ' = flt complete')

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

1 = lag complete, 0 = flt
4 = lag complete, 0 = flt
12 = lag complete, 0 = flt
52 = lag complete, 0 = flt
156 = lag complete, 0 = flt
0 = flt complete
1 = lag complete, 1 = flt
4 = lag complete, 1 = flt
12 = lag complete, 1 = flt
52 = lag complete, 1 = flt
156 = lag complete, 1 = flt
1 = flt complete
1 = lag complete, 2 = flt
4 = lag complete, 2 = flt
12 = lag complete, 2 = flt
52 = lag complete, 2 = flt
156 = lag complete, 2 = flt
2 = flt complete
1 = lag complete, 4 = flt
4 = lag complete, 4 = flt
12 = lag complete, 4 = flt
52 = lag complete, 4 = flt
156 = lag complete, 4 = flt
4 = flt complete
1 = lag complete, 5 = flt
4 = lag complete, 5 = flt
12 = lag complete, 5 = flt
52 = lag complete, 5 = flt
156 = lag complete, 5 = flt
5 = flt complete
1 = lag complete, 3 = flt
4 = lag complete, 3 = flt
12 = lag complete, 3 = flt
52 = lag complete, 3 = flt
156 = lag complete, 3 = flt
3 = flt complete
Wall time: 9min 56s

In [87]:
df

,fltNrDptDt,flightNrSf,LagDptDt,resHoldTotal,lag_1_flt_0,lag_4_flt_0,lag_12_flt_0,lag_52_flt_0,lag_156_flt_0,lag_1_flt_1,...,lag_1_flt_5,lag_4_flt_5,lag_12_flt_5,lag_52_flt_5,lag_156_flt_5,lag_1_flt_3,lag_4_flt_3,lag_12_flt_3,lag_52_flt_3,lag_156_flt_3
0,2014-02-27,0,2013-02-27,303.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-02-27,1,2013-02-27,584.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-02-27,2,2013-02-27,276.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-02-28,0,2013-02-28,323.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-02-28,1,2013-02-28,629.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-02-28,2,2013-02-28,280.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-03-01,0,2013-03-01,168.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-03-01,1,2013-03-01,620.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-03-01,2,2013-03-01,180.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-03-02,0,2013-03-02,188.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2014-03-02,1,2013-03-02,106.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2014-03-02,2,2013-03-02,351.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014-03-03,0,2013-03-03,206.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2014-03-03,1,2013-03-03,420.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2014-03-03,2,2013-03-03,241.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2014-03-04,2,2013-03-04,286.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2014-03-04,1,2013-03-04,476.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2014-03-04,0,2013-03-04,205.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2014-03-05,0,2013-03-05,244.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2014-03-05,1,2013-03-05,488.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-03-05,2,2013-03-05,201.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2014-03-06,0,2013-03-06,298.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2014-03-06,1,2013-03-06,617.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2014-03-06,2,2013-03-06,271.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2014-03-07,2,2013-03-07,240.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2014-03-07,1,2013-03-07,709.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2014-03-07,0,2013-03-07,279.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2014-03-08,0,2013-03-08,79.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2014-03-08,1,2013-03-08,427.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2014-03-08,2,2013-03-08,103.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,2017-03-26,1,2016-03-26,451.0,NaN,NaN,NaN,NaN,NaN,322.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4416,2017-03-26,2,2016-03-26,337.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4417,2017-03-26,3,2016-03-26,45.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,415.500,388.285714,452.726190,425.913514,425.913514
4418,2017-03-26,4,2016-03-26,26.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4419,2017-03-26,5,2016-03-26,471.0,NaN,NaN,NaN,NaN,NaN,NaN,...,168.666667,333.928571,297.414634,278.925926,278.925926,NaN,NaN,NaN,NaN,NaN
4423,2017-03-27,3,2016-03-27,402.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,436.125,392.000000,449.928571,426.322581,426.322581
4422,2017-03-27,2,2016-03-27,267.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421,2017-03-27,1,2016-03-27,278.0,NaN,NaN,NaN,NaN,NaN,336.750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4420,2017-03-27,0,2016-03-27,227.0,159.500,172.586207,147.941176,225.794521,226.507895,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4429,2017-03-28,5,2016-03-28,570.0,NaN,NaN,NaN,NaN,NaN,NaN,...,334.000000,343.357143,302.452381,280.617647,280.617647,NaN,NaN,NaN,NaN,NaN
4424,2017-03-28,0,2016-03-28,239.0,166.250,175.344828,148.988235,225.682192,226.491459,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,2017-03-28,1,2016-03-28,369.0,NaN,NaN,NaN,NaN,NaN,336.625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4426,2017-03-28,2,2016-03-28,317.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4427,2017-03-28,3,2016-03-28,337.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,428.875,390.357143,445.178571,425.967914,425.967914
4428,2017-03-28,4,2016-03-28,399.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4431,2017-03-29,1,2016-03-29,81.0,NaN,NaN,NaN,NaN,NaN,338.375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4432,2017-03-29,2,2016-03-29,307.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4430,2017-03-29,0,2016-03-29,259.0,185.500,176.068966,149.152941,225.369863,226.404199,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4433,2017-03-29,3,2016-03-29,428.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,420.375,385.714286,438.833333,425.148936,425.148936
4438,2017-03-30,4,2016-03-30,355.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4437,2017-03-30,3,2016-03-30,374.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,431.875,381.250000,443.988095,425.232804,425.232804
4439,2017-03-30,5,2016-03-30,627.0,NaN,NaN,NaN,NaN,NaN,NaN,...,188.000000,302.285714,295.476190,278.591241,278.591241,NaN,NaN,NaN,NaN,NaN
4435,2017-03-30,1,2016-03-30,623.0,NaN,NaN,NaN,NaN,NaN,366.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4434,2017-03-30,0,2016-03-30,247.0,186.375,176.827586,149.211765,225.079452,226.328965,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4436,2017-03-30,2,2016-03-30,305.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4442,2017-03-31,2,2016-03-31,307.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4443,2017-03-31,3,2016-03-31,733.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,461.875,398.964286,440.797619,425.700000,425.700000
4440,2017-03-31,0,2016-03-31,341.0,215.500,170.310345,150.823529,224.780822,226.337696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4441,2017-03-31,1,2016-03-31,613.0,NaN,NaN,NaN,NaN,NaN,414.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4444,2017-03-31,4,2016-03-31,314.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df[df.flightNrSf == 5]

,fltNrDptDt,flightNrSf,LagDptDt,resHoldTotal,lag_1_flt_0,lag_4_flt_0,lag_12_flt_0,lag_52_flt_0,lag_156_flt_0,lag_1_flt_1,...,lag_1_flt_5,lag_4_flt_5,lag_12_flt_5,lag_52_flt_5,lag_156_flt_5,lag_1_flt_3,lag_4_flt_3,lag_12_flt_3,lag_52_flt_3,lag_156_flt_3
1377,2015-06-01,5,2014-06-01,16.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,2015-06-04,5,2014-06-04,55.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1389,2015-06-06,5,2014-06-06,28.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1398,2015-06-10,5,2014-06-10,62.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407,2015-06-14,5,2014-06-14,42.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,2015-06-16,5,2014-06-16,56.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1418,2015-06-18,5,2014-06-18,65.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423,2015-06-20,5,2014-06-20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1429,2015-06-22,5,2014-06-22,32.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,2015-07-06,5,2014-07-06,495.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464,2015-07-08,5,2014-07-08,278.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1470,2015-07-10,5,2014-07-10,37.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,2015-07-12,5,2014-07-12,42.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,2015-07-14,5,2014-07-14,34.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488,2015-07-16,5,2014-07-16,265.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,2015-07-18,5,2014-07-18,497.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1499,2015-07-20,5,2014-07-20,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1510,2015-07-24,5,2014-07-24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,2015-07-26,5,2014-07-26,514.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,2015-07-28,5,2014-07-28,27.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1528,2015-07-30,5,2014-07-30,48.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1533,2015-08-01,5,2014-08-01,195.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1541,2015-08-04,5,2014-08-04,229.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1547,2015-08-06,5,2014-08-06,118.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,2015-08-08,5,2014-08-08,218.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1559,2015-08-10,5,2014-08-10,507.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1565,2015-08-12,5,2014-08-12,39.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571,2015-08-14,5,2014-08-14,527.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1577,2015-08-16,5,2014-08-16,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,2015-08-18,5,2014-08-18,195.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4147,2017-01-30,5,2016-01-31,437.0,NaN,NaN,NaN,NaN,NaN,NaN,...,301.500000,272.357143,313.350000,271.055556,271.055556,NaN,NaN,NaN,NaN,NaN
4156,2017-02-01,5,2016-02-02,429.0,NaN,NaN,NaN,NaN,NaN,NaN,...,261.500000,261.714286,304.650000,269.917431,269.917431,NaN,NaN,NaN,NaN,NaN
4171,2017-02-04,5,2016-02-05,440.0,NaN,NaN,NaN,NaN,NaN,NaN,...,248.000000,248.071429,303.282051,269.690909,269.690909,NaN,NaN,NaN,NaN,NaN
4181,2017-02-06,5,2016-02-07,274.0,NaN,NaN,NaN,NaN,NaN,NaN,...,241.666667,258.071429,303.051282,270.261261,270.261261,NaN,NaN,NaN,NaN,NaN
4191,2017-02-08,5,2016-02-09,362.0,NaN,NaN,NaN,NaN,NaN,NaN,...,298.666667,261.428571,304.461538,270.687500,270.687500,NaN,NaN,NaN,NaN,NaN
4201,2017-02-10,5,2016-02-11,366.0,NaN,NaN,NaN,NaN,NaN,NaN,...,235.250000,248.285714,294.743590,268.690265,268.690265,NaN,NaN,NaN,NaN,NaN
4211,2017-02-12,5,2016-02-13,490.0,NaN,NaN,NaN,NaN,NaN,NaN,...,251.500000,253.571429,293.666667,269.052632,269.052632,NaN,NaN,NaN,NaN,NaN
4221,2017-02-14,5,2016-02-15,347.0,NaN,NaN,NaN,NaN,NaN,NaN,...,276.250000,268.428571,296.692308,270.469565,270.469565,NaN,NaN,NaN,NaN,NaN
4231,2017-02-16,5,2016-02-17,460.0,NaN,NaN,NaN,NaN,NaN,NaN,...,252.500000,280.500000,296.897436,270.060345,270.060345,NaN,NaN,NaN,NaN,NaN
4241,2017-02-18,5,2016-02-19,346.0,NaN,NaN,NaN,NaN,NaN,NaN,...,310.750000,280.571429,296.425000,270.128205,270.128205,NaN,NaN,NaN,NaN,NaN
4251,2017-02-20,5,2016-02-21,407.0,NaN,NaN,NaN,NaN,NaN,NaN,...,334.750000,281.642857,297.800000,271.279661,271.279661,NaN,NaN,NaN,NaN,NaN
4261,2017-02-22,5,2016-02-23,82.0,NaN,NaN,NaN,NaN,NaN,NaN,...,309.500000,283.357143,296.950000,271.781513,271.781513,NaN,NaN,NaN,NaN,NaN
4271,2017-02-24,5,2016-02-25,433.0,NaN,NaN,NaN,NaN,NaN,NaN,...,316.000000,279.500000,294.925000,271.591667,271.591667,NaN,NaN,NaN,NaN,NaN
4281,2017-02-26,5,2016-02-27,525.0,NaN,NaN,NaN,NaN,NaN,NaN,...,343.750000,289.857143,294.950000,272.561983,272.561983,NaN,NaN,NaN,NaN,NaN
4291,2017-02-28,5,2016-02-29,441.0,NaN,NaN,NaN,NaN,NaN,NaN,...,336.500000,291.642857,294.100000,273.418033,273.418033,NaN,NaN,NaN,NaN,NaN
4301,2017-03-02,5,2016-03-02,402.0,NaN,NaN,NaN,NaN,NaN,NaN,...,442.600000,342.266667,312.902439,278.669355,278.669355,NaN,NaN,NaN,NaN,NaN
4311,2017-03-04,5,2016-03-04,284.0,NaN,NaN,NaN,NaN,NaN,NaN,...,474.800000,353.266667,313.682927,279.720000,279.720000,NaN,NaN,NaN,NaN,NaN
4321,2017-03-06,5,2016-03-06,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,472.400000,356.200000,315.190476,280.492063,280.492063,NaN,NaN,NaN,NaN,NaN
4331,2017-03-08,5,2016-03-08,313.0,NaN,NaN,NaN,NaN,NaN,NaN,...,470.400000,359.466667,315.714286,281.173228,281.173228,NaN,NaN,NaN,NaN,NaN
4340,2017-03-10,5,2016-03-10,424.0,NaN,NaN,NaN,NaN,NaN,NaN,...,365.000000,376.866667,315.500000,281.367188,281.367188,NaN,NaN,NaN,NaN,NaN
4350,2017-03-12,5,2016-03-12,549.0,NaN,NaN,NaN,NaN,NaN,NaN,...,270.500000,358.333333,306.476190,279.434109,279.434109,NaN,NaN,NaN,NaN,NaN
4360,2017-03-14,5,2016-03-14,378.0,NaN,NaN,NaN,NaN,NaN,NaN,...,240.250000,346.600000,306.809524,279.253846,279.253846,NaN,NaN,NaN,NaN,NaN
4370,2017-03-16,5,2016-03-16,448.0,NaN,NaN,NaN,NaN,NaN,NaN,...,225.000000,352.133333,308.309524,279.458015,279.458015,NaN,NaN,NaN,NaN,NaN
4380,2017-03-18,5,2016-03-18,377.0,NaN,NaN,NaN,NaN,NaN,NaN,...,283.500000,369.600000,309.476190,281.431818,281.431818,NaN,NaN,NaN,NaN,NaN
4389,2017-03-20,5,2016-03-20,397.0,NaN,NaN,NaN,NaN,NaN,NaN,...,278.750000,343.400000,298.214286,279.413534,279.413534,NaN,NaN,NaN,NaN,NaN
4399,2017-03-22,5,2016-03-22,510.0,NaN,NaN,NaN,NaN,NaN,NaN,...,325.000000,350.733333,301.095238,280.619403,280.619403,NaN,NaN,NaN,NaN,NaN
4409,2017-03-24,5,2016-03-24,304.0,NaN,NaN,NaN,NaN,NaN,NaN,...,331.333333,358.000000,296.219512,280.619403,280.619403,NaN,NaN,NaN,NaN,NaN
4419,2017-03-26,5,2016-03-26,471.0,NaN,NaN,NaN,NaN,NaN,NaN,...,168.666667,333.928571,297.414634,278.925926,278.925926,NaN,NaN,NaN,NaN,NaN
4429,2017-03-28,5,2016-03-28,570.0,NaN,NaN,NaN,NaN,NaN,NaN,...,334.000000,343.357143,302.452381,280.617647,280.617647,NaN,NaN,NaN,NaN,NaN
4439,2017-03-30,5,2016-03-30,627.0,NaN,NaN,NaN,NaN,NaN,NaN,...,188.000000,302.285714,295.476190,278.591241,278.591241,NaN,NaN,NaN,NaN,NaN

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4445 entries, 0 to 4444
Data columns (total 34 columns):
fltNrDptDt       4445 non-null datetime64[ns]
flightNrSf       4445 non-null int64
LagDptDt         4445 non-null datetime64[ns]
resHoldTotal     4445 non-null float64
lag_1_flt_0      764 non-null float64
lag_4_flt_0      764 non-null float64
lag_12_flt_0     764 non-null float64
lag_52_flt_0     764 non-null float64
lag_156_flt_0    764 non-null float64
lag_1_flt_1      537 non-null float64
lag_4_flt_1      558 non-null float64
lag_12_flt_1     614 non-null float64
lag_52_flt_1     644 non-null float64
lag_156_flt_1    644 non-null float64
lag_1_flt_2      764 non-null float64
lag_4_flt_2      764 non-null float64
lag_12_flt_2     764 non-null float64
lag_52_flt_2     764 non-null float64
lag_156_flt_2    764 non-null float64
lag_1_flt_4      142 non-null float64
lag_4_flt_4      153 non-null float64
lag_12_flt_4     153 non-null float64
lag_52_flt_4     153 non-null float64
lag_156_flt_4    153 non-null float64
lag_1_flt_5      147 non-null float64
lag_4_flt_5      150 non-null float64
lag_12_flt_5     150 non-null float64
lag_52_flt_5     150 non-null float64
lag_156_flt_5    150 non-null float64
lag_1_flt_3      190 non-null float64
lag_4_flt_3      190 non-null float64
lag_12_flt_3     190 non-null float64
lag_52_flt_3     190 non-null float64
lag_156_flt_3    190 non-null float64
dtypes: datetime64[ns](2), float64(31), int64(1)
memory usage: 1.3 MB

In [ ]:
data = data.merge(df.drop('LagDptDt', axis = 1).drop('resHoldTotal', axis = 1), on=['fltNrDptDt', 'flightNrSf'])

**Лаги по кодам**

In [ ]:
%%time

df = data.groupby(['fltNrDptDt', 'flightNrSf', 'Code', 'LagDptDt'], as_index=False)['resHoldTotal'].sum().sort_values(['fltNrDptDt'])
for flt in df.flightNrSf.unique():
    for code in df.Code.unique():
        for lag in lags:
            df.loc[df[df.flightNrSf == flt][df.Code == code].index.values, 'lag_' + str(lag) + '_flt_' + str(flt) + '_code_' + str(code)] = df[df.flightNrSf == flt][df.Code == code].LagDptDt.map(lambda x: df[df.flightNrSf == flt][df.Code == code][(df.fltNrDptDt <= x) & (df.fltNrDptDt >= (x - timedelta(days = 7 * lag)))].resHoldTotal.mean())
            print(str(lag) + ' = lag complete, ' + str(flt) + ' = flt, ' + str(code) + ' = code')
        
        print(str(code) + ' = code complete, ' + str(flt) + ' = flt')
    
    print(str(flt) + ' = flt complete')

In [ ]:
data = data.merge(df.drop('LagDptDt', axis = 1).drop('resHoldTotal', axis = 1), on=['fltNrDptDt', 'flightNrSf', 'Code'])

In [ ]:
df.info()

**Удаляем nan**

In [94]:
data.dropna(inplace=True)
data

,FlightID,Code,resHoldTotal,DptDt,fltNrDptDt,fltNrArrDt,DptTime,ArrTime,flightNrSf,segment,...,MonthArr,QuarterArr,YearArr,IsWeekendArr,LagDptDt,lag_1,lag_4,lag_12,lag_52,lag_156
0,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
1,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
2,25,2,5.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
3,25,3,2.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
4,25,0,2.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
5,25,1,3.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
6,25,2,1.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
7,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
8,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
9,25,1,11.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
10,25,2,32.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
11,25,3,19.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
12,25,0,10.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
13,25,1,47.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
14,25,2,87.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
15,25,3,74.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
16,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
17,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
18,25,2,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
19,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
20,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
21,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
22,25,2,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
23,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
24,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
25,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
26,25,2,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
27,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
28,25,0,0.0,2016-05-27,2016-05-26,2016-05-27,3,7,0,7,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
29,25,1,0.0,2016-05-27,2016-05-26,2016-05-27,3,7,0,7,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191582,250963,2,0.0,2016-04-10,2016-04-09,2016-04-10,2,8,1,137,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191583,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,2,8,1,137,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191584,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,2,9,1,8,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191585,250963,2,5.0,2016-04-10,2016-04-09,2016-04-10,2,9,1,8,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191586,250963,3,1.0,2016-04-10,2016-04-09,2016-04-10,2,9,1,8,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191587,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,4,5,1,138,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191588,250963,2,0.0,2016-04-10,2016-04-09,2016-04-10,4,5,1,138,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191589,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,4,5,1,138,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191590,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,4,7,1,139,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191591,250963,2,0.0,2016-04-10,2016-04-09,2016-04-10,4,7,1,139,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191592,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,4,7,1,139,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191593,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,4,8,1,140,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191594,250963,2,2.0,2016-04-10,2016-04-09,2016-04-10,4,8,1,140,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191595,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,4,8,1,140,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191596,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,4,9,1,141,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191597,250963,2,0.0,2016-04-10,2016-04-09,2016-04-10,4,9,1,141,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191598,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,4,9,1,141,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191599,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,5,7,1,142,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191600,250963,2,0.0,2016-04-10,2016-04-09,2016-04-10,5,7,1,142,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191601,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,5,7,1,142,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191602,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,5,8,1,143,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191603,250963,2,1.0,2016-04-10,2016-04-09,2016-04-10,5,8,1,143,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191604,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,5,8,1,143,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191605,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,5,9,1,144,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191606,250963,2,2.0,2016-04-10,2016-04-09,2016-04-10,5,9,1,144,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191607,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,5,9,1,144,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191608,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,7,8,1,145,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191609,250963,2,0.0,2016-04-10,2016-04-09,2016-04-10,7,8,1,145,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191610,250963,3,0.0,2016-04-10,2016-04-09,2016-04-10,7,8,1,145,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431
191611,250963,1,0.0,2016-04-10,2016-04-09,2016-04-10,7,9,1,9,...,4,2,2016,1,2015-04-10,972.500,1042.793103,965.211765,969.372603,970.203431

**Сохраним**

In [93]:
data

,FlightID,Code,resHoldTotal,DptDt,fltNrDptDt,fltNrArrDt,DptTime,ArrTime,flightNrSf,segment,...,MonthArr,QuarterArr,YearArr,IsWeekendArr,LagDptDt,lag_1,lag_4,lag_12,lag_52,lag_156
0,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
1,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
2,25,2,5.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
3,25,3,2.0,2016-05-26,2016-05-26,2016-05-27,20,22,0,0,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
4,25,0,2.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
5,25,1,3.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
6,25,2,1.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
7,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,20,3,0,1,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
8,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
9,25,1,11.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
10,25,2,32.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
11,25,3,19.0,2016-05-26,2016-05-26,2016-05-27,20,7,0,2,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
12,25,0,10.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
13,25,1,47.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
14,25,2,87.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
15,25,3,74.0,2016-05-26,2016-05-26,2016-05-27,20,9,0,3,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
16,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
17,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
18,25,2,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
19,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,22,3,0,4,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
20,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
21,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
22,25,2,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
23,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,22,7,0,5,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
24,25,0,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
25,25,1,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
26,25,2,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
27,25,3,0.0,2016-05-26,2016-05-26,2016-05-27,22,9,0,6,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
28,25,0,0.0,2016-05-27,2016-05-26,2016-05-27,3,7,0,7,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
29,25,1,0.0,2016-05-27,2016-05-26,2016-05-27,3,7,0,7,...,5,2,2016,0,2015-05-27,1107.375,1074.344828,1042.129412,976.394521,980.712088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212682,277077,5,3.0,2014-08-30,2014-08-29,2014-08-30,5,8,1,297,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212683,277077,1,0.0,2014-08-30,2014-08-29,2014-08-30,6,8,1,298,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212684,277077,2,0.0,2014-08-30,2014-08-29,2014-08-30,6,8,1,298,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212685,277077,3,0.0,2014-08-30,2014-08-29,2014-08-30,6,8,1,298,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212686,277077,4,0.0,2014-08-30,2014-08-29,2014-08-30,6,8,1,298,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212687,277077,5,0.0,2014-08-30,2014-08-29,2014-08-30,6,8,1,298,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212688,277124,0,0.0,2014-08-29,2014-08-29,2014-08-30,18,0,2,37,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212689,277124,1,0.0,2014-08-29,2014-08-29,2014-08-30,18,0,2,37,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212690,277124,2,1.0,2014-08-29,2014-08-29,2014-08-30,18,0,2,37,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212691,277124,3,5.0,2014-08-29,2014-08-29,2014-08-30,18,0,2,37,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212692,277124,0,0.0,2014-08-29,2014-08-29,2014-08-30,18,4,2,38,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212693,277124,1,1.0,2014-08-29,2014-08-29,2014-08-30,18,4,2,38,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212694,277124,2,5.0,2014-08-29,2014-08-29,2014-08-30,18,4,2,38,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212695,277124,3,3.0,2014-08-29,2014-08-29,2014-08-30,18,4,2,38,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212696,277124,0,4.0,2014-08-29,2014-08-29,2014-08-30,18,7,2,39,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212697,277124,1,43.0,2014-08-29,2014-08-29,2014-08-30,18,7,2,39,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212698,277124,2,137.0,2014-08-29,2014-08-29,2014-08-30,18,7,2,39,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212699,277124,3,119.0,2014-08-29,2014-08-29,2014-08-30,18,7,2,39,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212700,277124,0,0.0,2014-08-30,2014-08-29,2014-08-30,0,4,2,40,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212701,277124,1,0.0,2014-08-30,2014-08-29,2014-08-30,0,4,2,40,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212702,277124,2,0.0,2014-08-30,2014-08-29,2014-08-30,0,4,2,40,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212703,277124,3,0.0,2014-08-30,2014-08-29,2014-08-30,0,4,2,40,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212704,277124,0,0.0,2014-08-30,2014-08-29,2014-08-30,0,7,2,41,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212705,277124,1,13.0,2014-08-30,2014-08-29,2014-08-30,0,7,2,41,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212706,277124,2,2.0,2014-08-30,2014-08-29,2014-08-30,0,7,2,41,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212707,277124,3,0.0,2014-08-30,2014-08-29,2014-08-30,0,7,2,41,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212708,277124,0,0.0,2014-08-30,2014-08-29,2014-08-30,4,7,2,42,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212709,277124,1,0.0,2014-08-30,2014-08-29,2014-08-30,4,7,2,42,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212710,277124,2,0.0,2014-08-30,2014-08-29,2014-08-30,4,7,2,42,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN
212711,277124,3,0.0,2014-08-30,2014-08-29,2014-08-30,4,7,2,42,...,8,3,2014,1,2013-08-29,NaN,NaN,NaN,NaN,NaN

In [95]:
data.to_csv('../data/prepared_data.csv', sep=';')

**Общий прогзноз + год вперед**

In [97]:
wdata = pd.read_csv('../data/data.csv', sep=';')
wdata.drop('Unnamed: 0', inplace=True, axis = 1)

In [98]:
# дополним год
wdata.DptDt = pd.DatetimeIndex(wdata.DptDt)
wdata.reportDt = pd.DatetimeIndex(wdata.reportDt)
wdata.fltNrDptDt = pd.DatetimeIndex(wdata.fltNrDptDt)
wdata.fltNrArrDt = pd.DatetimeIndex(wdata.DptDt)

df = wdata[wdata['DptDt'] > wdata['DptDt'].max() - datetime.timedelta(days=365)].copy()
df['DptDt'] = df['DptDt'].map(lambda x: x + datetime.timedelta(days=365))
df['reportDt'] = df['reportDt'].map(lambda x: x + datetime.timedelta(days=365))
df['fltNrDptDt'] = df['fltNrDptDt'].map(lambda x: x + datetime.timedelta(days=365))
df['fltNrArrDt'] = df['fltNrArrDt'].map(lambda x: x + datetime.timedelta(days=365))

In [99]:
wdata = wdata.append(df)

In [100]:
wdata = prepareData(wdata)

Made flight id
segment_dict: {0: 'ZUBVP', 1: 'NOVKU', 2: 'MUROM', 3: 'SGC', 4: 'CEK', 5: 'SHILV', 6: 'MAKSA', 7: 'IARGL', 8: 'RZN1', 9: 'GFBMH', 10: 'AZOQM', 11: 'NAVAS', 12: 'LANGP', 13: 'BEZNC', 14: 'POTMA', 15: 'TJM', 16: 'VEKVK', 17: 'UZHOV', 18: 'KMNUR', 19: 'NEREK', 20: 'SONKV', 21: 'YTNPR', 22: 'WINOP', 23: 'BARYS', 24: 'ARZM1', 25: 'RYBP', 26: 'SASOV', 27: 'TORBV', 28: 'NEKOZ', 29: 'KOVYL', 30: 'OBSHA', 31: 'KUZOV', 32: 'MOWKZ', 33: 'SYZR1', 34: 'BEZHK', 35: 'BOLOG', 36: 'PYTJA', 37: 'OKUL', 38: 'KUZNT', 39: 'BAZRN', 40: 'URMAR', 41: 'SKX', 42: 'GOJ', 43: 'SVX', 44: 'MVISH', 45: 'CHAPV', 46: 'SXMBV', 47: 'SHSTH', 48: 'KOVRV', 49: 'KZNP', 50: 'PEZ1', 51: 'LEDGL', 52: 'KANAS', 53: 'ZELDO', 54: 'VOEVD', 55: 'NJC', 56: 'IVANV', 57: 'VOLGA', 58: 'KUF', 59: 'NOCKA', 60: 'RUZVK', 61: 'INZA', 62: 'TOX'}
flightNrSf_dict: {0: '10J', 1: '50M', 2: '9J', 3: '49J', 4: '337J', 5: '337ZH', 6: '138J', 7: '137YQ', 8: '102J', 9: '101J', 10: '88J', 11: '87J'}
code_dict: {0: 'F', 1: 'C', 2: 'B', 3: 'Y', 4: 'X', 5: 'K'}
Made segment
segment_sec_dict: {0: '32_8', 1: '32_60', 2: '32_33', 3: '32_58', 4: '8_60', 5: '8_33', 6: '8_58', 7: '60_33', 8: '60_58', 9: '33_58', 10: '32_26', 11: '32_0', 12: '32_29', 13: '32_61', 14: '32_23', 15: '32_45', 16: '8_26', 17: '8_0', 18: '8_29', 19: '8_61', 20: '8_23', 21: '8_45', 22: '26_0', 23: '26_29', 24: '26_60', 25: '26_61', 26: '26_23', 27: '26_33', 28: '26_45', 29: '26_58', 30: '0_29', 31: '0_60', 32: '0_61', 33: '0_23', 34: '0_33', 35: '0_45', 36: '0_58', 37: '58_60', 38: '58_8', 39: '58_32', 40: '60_8', 41: '60_32', 42: '8_32', 43: '58_31', 44: '58_29', 45: '58_0', 46: '58_26', 47: '31_60', 48: '31_29', 49: '31_0', 50: '31_26', 51: '31_8', 52: '31_32', 53: '60_29', 54: '60_0', 55: '60_26', 56: '29_0', 57: '29_26', 58: '29_8', 59: '29_32', 60: '0_26', 61: '0_8', 62: '0_32', 63: '26_8', 64: '26_32', 65: '58_33', 66: '58_61', 67: '58_41', 68: '58_17', 69: '58_24', 70: '58_42', 71: '58_48', 72: '58_56', 73: '58_19', 74: '58_7', 75: '58_25', 76: '58_20', 77: '58_6', 78: '58_35', 79: '58_37', 80: '58_44', 81: '58_51', 82: '33_61', 83: '33_60', 84: '33_41', 85: '33_17', 86: '33_24', 87: '33_42', 88: '33_48', 89: '33_56', 90: '33_19', 91: '33_7', 92: '33_25', 93: '33_20', 94: '33_6', 95: '33_35', 96: '33_37', 97: '33_44', 98: '33_51', 99: '61_60', 100: '61_41', 101: '61_17', 102: '51_44', 103: '51_35', 104: '51_6', 105: '51_20', 106: '51_25', 107: '51_7', 108: '51_19', 109: '51_56', 110: '51_48', 111: '51_42', 112: '51_24', 113: '51_17', 114: '51_41', 115: '51_60', 116: '51_61', 117: '51_31', 118: '51_33', 119: '51_58', 120: '44_35', 121: '44_6', 122: '44_20', 123: '44_25', 124: '44_7', 125: '44_19', 126: '44_56', 127: '44_48', 128: '44_42', 129: '32_5', 130: '32_27', 131: '32_22', 132: '32_9', 133: '32_59', 134: '32_39', 135: '32_13', 136: '5_26', 137: '5_27', 138: '5_29', 139: '5_22', 140: '5_60', 141: '5_9', 142: '5_59', 143: '5_61', 144: '5_39', 145: '5_33', 146: '5_13', 147: '5_45', 148: '5_58', 149: '26_27', 150: '26_22', 151: '26_9', 152: '26_59', 153: '26_39', 154: '26_13', 155: '27_29', 156: '27_22', 157: '27_60', 158: '27_9', 159: '29_60', 160: '29_61', 161: '32_14', 162: '58_9', 163: '29_23', 164: '29_33', 165: '29_45', 166: '29_58', 167: '60_61', 168: '60_23', 169: '60_45', 170: '61_23', 171: '61_33', 172: '61_45', 173: '61_58', 174: '23_33', 175: '23_45', 176: '23_58', 177: '33_45', 178: '45_58', 179: '58_5', 180: '33_9', 181: '33_29', 182: '33_5', 183: '33_8', 184: '33_32', 185: '9_60', 186: '9_29', 187: '9_5', 188: '9_8', 189: '9_32', 190: '60_5', 191: '29_5', 192: '5_8', 193: '5_32', 194: '44_24', 195: '44_17', 196: '5_0', 197: '5_14', 198: '32_54', 199: '44_41', 200: '5_54', 201: '44_60', 202: '44_61', 203: '44_31', 204: '44_33', 205: '44_58', 206: '35_6', 207: '35_20', 208: '35_25', 209: '35_7', 210: '26_14', 211: '51_21', 212: '35_21', 213: '35_56', 214: '35_48', 215: '35_42', 216: '35_24', 217: '35_41', 218: '35_60', 219: '35_61', 220: '35_33', 221: '35_58', 222: '25_7', 223: '50_33', 224: '50_58', 225: '50_46', 226: '50_10', 227: '50_4', 228: '50_18', 229: '50_43', 230: '50_15', 231: '50_62', 232: '50_36', 233: '50_3', 234: '50_55', 235: '33_46', 236: '33_10', 237: '33_4', 238: '33_18', 239: '33_43', 240: '33_15', 241: '33_62', 242: '33_36', 243: '33_3', 244: '33_55', 245: '58_46', 246: '58_10', 247: '58_4', 248: '58_18', 249: '58_43', 250: '58_15', 251: '58_62', 252: '58_36', 253: '58_3', 254: '58_55', 255: '46_10', 256: '46_4', 257: '46_18', 258: '46_43', 259: '46_15', 260: '46_62', 261: '46_36', 262: '46_3', 263: '46_55', 264: '10_4', 265: '10_18', 266: '10_43', 267: '10_15', 268: '10_62', 269: '10_36', 270: '10_3', 271: '10_55', 272: '4_18', 273: '4_43', 274: '4_15', 275: '4_62', 276: '4_36', 277: '4_3', 278: '4_55', 279: '60_41', 280: '60_24', 281: '60_42', 282: '60_48', 283: '60_56', 284: '60_19', 285: '60_7', 286: '60_25', 287: '60_35', 288: '60_37', 289: '60_44', 290: '60_51', 291: '41_24', 292: '41_42', 293: '41_48', 294: '41_56', 295: '41_19', 296: '41_7', 297: '0_27', 298: '27_61', 299: '27_33', 300: '27_58', 301: '25_56', 302: '25_48', 303: '25_42', 304: '25_24', 305: '25_41', 306: '25_60', 307: '25_61', 308: '25_33', 309: '25_58', 310: '7_56', 311: '7_48', 312: '7_42', 313: '7_24', 314: '7_41', 315: '7_60', 316: '7_61', 317: '61_24', 318: '61_42', 319: '61_48', 320: '61_56', 321: '61_7', 322: '55_3', 323: '55_36', 324: '55_62', 325: '55_15', 326: '55_43', 327: '55_4', 328: '55_10', 329: '55_46', 330: '55_58', 331: '55_33', 332: '55_38', 333: '55_50', 334: '3_36', 335: '7_33', 336: '7_58', 337: '56_48', 338: '56_42', 339: '56_24', 340: '56_41', 341: '56_60', 342: '56_61', 343: '61_25', 344: '61_35', 345: '61_37', 346: '61_51', 347: '55_18', 348: '3_62', 349: '3_15', 350: '3_43', 351: '3_18', 352: '3_4', 353: '3_10', 354: '3_46', 355: '3_58', 356: '3_33', 357: '3_38', 358: '3_50', 359: '36_62', 360: '36_15', 361: '36_43', 362: '36_18', 363: '36_4', 364: '36_10', 365: '36_46', 366: '36_58', 367: '36_33', 368: '36_38', 369: '36_50', 370: '62_15', 371: '62_43', 372: '62_18', 373: '62_4', 374: '62_10', 375: '62_46', 376: '62_58', 377: '62_33', 378: '62_38', 379: '62_50', 380: '15_43', 381: '15_18', 382: '15_4', 383: '15_10', 384: '15_46', 385: '15_58', 386: '15_33', 387: '15_38', 388: '15_50', 389: '43_18', 390: '43_4', 391: '43_10', 392: '43_46', 393: '25_21', 394: '18_43', 395: '18_15', 396: '18_62', 397: '18_36', 398: '18_3', 399: '18_55', 400: '43_15', 401: '43_62', 402: '43_36', 403: '43_3', 404: '43_55', 405: '15_62', 406: '15_36', 407: '15_3', 408: '15_55', 409: '62_36', 410: '62_3', 411: '62_55', 412: '36_3', 413: '36_55', 414: '3_55', 415: '58_12', 416: '46_12', 417: '10_12', 418: '4_12', 419: '43_12', 420: '27_23', 421: '61_29', 422: '61_0', 423: '61_26', 424: '61_8', 425: '61_32', 426: '35_19', 427: '25_19', 428: '43_58', 429: '18_4', 430: '18_10', 431: '18_46', 432: '18_58', 433: '4_10', 434: '4_46', 435: '4_58', 436: '10_46', 437: '10_58', 438: '46_58', 439: '43_33', 440: '7_21', 441: '21_56', 442: '56_33', 443: '56_58', 444: '48_42', 445: '48_24', 446: '48_41', 447: '43_38', 448: '43_50', 449: '35_17', 450: '35_31', 451: '6_20', 452: '6_25', 453: '6_7', 454: '6_19', 455: '6_56', 456: '6_48', 457: '32_30', 458: '8_9', 459: '8_30', 460: '26_30', 461: '60_9', 462: '60_30', 463: '9_33', 464: '9_30', 465: '9_58', 466: '33_30', 467: '30_58', 468: '58_14', 469: '31_14', 470: '60_14', 471: '29_14', 472: '14_26', 473: '14_8', 474: '14_32', 475: '8_5', 476: '32_16', 477: '32_52', 478: '32_53', 479: '32_49', 480: '16_52', 481: '16_53', 482: '16_49', 483: '52_53', 484: '52_49', 485: '53_49', 486: '58_1', 487: '58_45', 488: '58_13', 489: '51_37', 490: '51_34', 491: '51_28', 492: '51_47', 493: '51_57', 494: '32_2', 495: '32_11', 496: '32_40', 497: '16_2', 498: '16_11', 499: '16_40', 500: '2_11', 501: '2_52', 502: '2_40', 503: '2_53', 504: '2_49', 505: '11_52', 506: '11_40', 507: '11_53', 508: '11_49', 509: '52_40', 510: '40_53', 511: '40_49'}
Done with encoding
Dates complete

ValueError: No axis named DptDt for object type <class 'pandas.core.frame.DataFrame'>

In [102]:
%%time

wdata['LagDptDt'] = wdata['fltNrDptDt'] - lag
df = wdata.groupby(['fltNrDptDt', 'LagDptDt'], as_index=False)['resHoldTotal'].sum().sort_values(['fltNrDptDt'])
for lag in lags:
    df['lag_' + str(lag)] = df.LagDptDt.map(lambda x: df[(df.fltNrDptDt <= x) & (df.fltNrDptDt >= (x - timedelta(days = 7 * lag)))].resHoldTotal.mean())
    print(str(lag) + ' = lag complete')
    
wdata = wdata.merge(df.drop('LagDptDt', axis = 1).drop('resHoldTotal', axis = 1), on='fltNrDptDt')

wdata.dropna(inplace=True)
wdata

TypeError: incompatible type for a datetime/timedelta operation [__sub__]

In [ ]:
# save 
wdata.to_csv('../data/4y_prepared_data.csv', sep=';')